{
  "development": {
    "username": "",
    "password": "",
    "database": "nodular",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "",
    "password": "",
    "database": "nodular",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "",
    "password": "",
    "database": "nodular",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
